<!doctype html>
<html ng-app="spa2itApp">
  <head>
<!--    <base href="/">-->
    <!-- META ===================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- ICON ===================================================== -->
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- MATERIAL CSS ===================================================== -->
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/blue-theme.css">
    
    <!-- CUSTOM CSS ===================================================== -->
    <link rel="stylesheet" type="text/css" href="css/index.css">
    

  </head>
  <body>
    <!-- Add your site or app content here -->
    <div  ng-controller="TabsCtrl">
    <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">
        <md-button ng-click="openLeftMenu()">
          <md-icon icon="img/menu.svg" style="width: 24px; height: 24px;"></md-icon>
        </md-button>
        <span>2ITALIA</span>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button  ng-click="openRightMenu()">
          <md-icon icon="img/threedots.svg" style="width: 24px; height: 24px;"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    
    <md-tabs md-selected="tabSelected">
        <md-tab ng-repeat="tab in tabpages" md-on-select="onTabSelected(tab)">{{tab.title}}</md-tab>
    </md-tabs>
    

    <div layout="row">
        <md-sidenav md-component-id="left" class="md-sidenav-left">
             
            <md-content class="md-padding">
            <section layout="column" ng-repeat="menu in infopages">
                 
                 
                   <md-toolbar>
                    <h1 class="infopage__title md-toolbar-tools">
                      {{menu.menuTitle}}
                    </h1>
                  </md-toolbar>
                  
                  
                    <section layout="column" ng-repeat="submenu in menu.submenu">
                      <md-button class="infopage__submenu" ng-href="#/page/{{submenu.idPage}}" ng-click="closeMenu()">{{submenu.menuTitle}}</md-button>

                    </section>

            </section>
            </md-content>
        </md-sidenav>
        <md-content>
            
        
            <ng-view></ng-view>
            
            
        </md-content>
        <md-sidenav md-component-id="right" class="md-sidenav-right">
            <md-content class="md-padding">
            <section layout="column" ng-repeat="quickrefpage in quickrefpages">
                  <md-button class="quickrefpage__button md-raised md-primary" ng-href="#/page/{{quickrefpage.idPage}}" ng-click="closeMenu()">{{quickrefpage.menuTitle}}</md-button>
            </section>
            </md-content>
        </md-sidenav>
    </div>
    

    
    
    </div>
    
   
    <!-- JS LIBRARIES ===================================================== -->   
    <script type="text/javascript" src="bower_components/hammerjs/hammer.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>

    <!-- JS  ===================================================== -->   
    <script type="text/javascript" src="js/spa2itApp.js"></script>
    <script type="text/javascript" src="js/spa2itCtrl.js"></script>

   
  </body>
</html>