<!doctype html>
<html ng-app="spa2itApp">
  <head>
    <!-- META ===================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- ICON ===================================================== -->
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- MATERIAL CSS ===================================================== -->
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/blue-theme.css">
    
    <!-- CUSTOM CSS ===================================================== -->
    <link rel="stylesheet" type="text/css" href="css/index.css">
    

  </head>
  <body>
    <!-- Add your site or app content here -->
    <div  ng-controller="TabsCtrl">
    <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">
        <md-button href="#/infopages">
          <md-icon icon="img/menu.svg" style="width: 24px; height: 24px;"></md-icon>
        </md-button>
        <span>2ITALIA</span>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button class="md-primary" ng-click="alert('Qref');" ng-href="#/quickrefpages">
          <md-icon icon="img/threedots.svg" style="width: 24px; height: 24px;"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    
    <md-tabs md-selected="tabSelected">
        <md-tab ng-repeat="page in tabpages"><a ng-href="#/{{page.label}}">{{page.title}}</a></a></md-tab>
<!--
        <md-tab md-on-select="showView('attractions')">Attraksjon</md-tab>
        <md-tab md-on-select="showView('activities')">Aktiviteter</md-tab>
        <md-tab md-on-select="showView('event')">Event</md-tab>
        <md-tab md-on-select="showView('wedding')">Bryllup</md-tab>
        <md-tab md-on-select="showView('calendar')">Kalender</md-tab>
        <md-tab md-on-select="showView('accommodations')">Overnatting</md-tab>
-->
    </md-tabs>
    
    </div>
    
    
    <ng-view></ng-view>
   
    <!-- JS LIBRARIES ===================================================== -->   
    <script type="text/javascript" src="bower_components/hammerjs/hammer.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>

    <!-- JS  ===================================================== -->   
    <script type="text/javascript" src="js/spa2itApp.js"></script>
    <script type="text/javascript" src="js/spa2itCtrl.js"></script>

   
  </body>
</html>