<md-content class="md-padding">
    

<div layout="row" layout-align="space-between center">
  <div>&nbsp;</div>

  <div>Søk: <input type="text" ng-model="searchAttractions"></div>
</div>

    

    <div class="attraction" ng-repeat="attraction in attractions | filter: searchAttractions">


        <img class="attraction__img" ng-src="{{attraction.imgURL}}">   
        
        <h1 class="attraction__title"><a ng-href="#/page/{{attraction.idPage}}">{{attraction.title}}</a></h1>
        
        <p class="attraction__presentation">
            {{attraction.presentation}}
        </p>


    </div>


</md-content>
