<md-toolbar class="md-accent" md-theme="blue">
    <div class="md-toolbar-tools">
      <span class="md-flex">Details</span>
    </div>
  </md-toolbar>

<md-content class="md-padding">Detail {{ status }}
<h2>HER KOMMER MERE  detaljer</h2>

<a href="#/">list</a>
    
<br>
<md-button class="md-raised md-primary">Click me</md-button>
<md-button class="md-raised md-accent">or maybe me</md-button>
<md-button class="md-raised md-warn">Careful</md-button>
<br>
<md-button class="md-fab" aria-label="Time">
     <md-icon icon="img/add196.svg" style="width: 24px; height: 24px;"></md-icon>
</md-button>    
    

    
</md-content>