
<md-toolbar class="md-accent" md-theme="blue">
    <div class="md-toolbar-tools">
      <span class="md-flex">List</span>
    </div>
  </md-toolbar>

<md-content class="md-padding">

List {{ status }}
<ul>
<li>Ting</li>
<li>Tang</li>
<li>Annet</li>
<li>Ting</li>
<li>Tang</li>
<li>Annet</li>
<li>Ting</li>
<li>Tang</li>
<li>Annet</li>
<li>Ting</li>
<li>Tang</li>
<li>Annet</li>
<li>Ting</li>
<li>Tang</li>
<li>Annet</li>
<li>Annet kdjhaklsdjf h</li>
<li>Annet sjhasdlkfha lskdjfh alksjdhf lkasjhfd lk</li>
<li>Annet</li>
<li>Annet</li>
</ul>

<a href="#/detail">detail</a>
    </md-content>