

<md-content class="md-padding">

    
<!-- 
{
"presentation": "Leilighet i Lucca historiske sentrum med 4 soverom, 3 bad, stue/kjøkken og stor 60kvm terrasse. Sengeplass til 8 - 10 personer.",
"idPage": 1266801,
"idSmallPicture": 235120,
"title": "Del Molinetto"
},

-->
    
<div layout="row" layout-align="center center">
  <div><md-text-float label="Søk i overnatting" ng-model="findAccommodation"></md-text-float></div>
</div>
      

    <md-list>
      <md-item ng-repeat="accommodation in accommodations | filter: findAccommodation" class="repeat-animation">
        <md-item-content>
          
            <img ng-show="accommodation.idSmallPicture" src="http://2it.strong.no/images/{{ accommodation.idSmallPicture }}" class="accommodation__img-small" alt="{{accommodation.title}}">
            <img ng-hide="accommodation.idSmallPicture" src="http://www.2italia.com/images/163245" class="accommodation__img-small" alt="{{accommodation.title}}">
         
          <div class="md-tile-content">
            <h3><a href="#/detail/{{accommodation.idPage}}">{{accommodation.title}}</a></h3>
        
            <p>
             {{accommodation.presentation}}
            </p>
          </div>
        </md-item-content>
        <md-divider inset></md-divider>
      </md-item>
    </md-list>
    

  

</md-content>