md-tab a {
    text-decoration: none;
    color: #80d8ff;
}

md-tab[aria-selected=true] a {
    text-decoration: none;
    color: #ffffff;
}



@media only screen and (min-width : 900px) {
    md-card {
        width: 48%;
        float: left;
    }
}
