md-tab a {
    text-decoration: none;
    color: #80d8ff;
}

md-tab[aria-selected=true] a {
    text-decoration: none;
    color: #ffffff;
}

.attractions-wrapper {
 
}

.attractions {
    text-align: center;
}
.attraction {
    width: 320px; /*320px*/
    height: 480px;
    overflow: hidden;
/*    float: left;*/
    display: inline-block;
    text-align: left;
    margin-bottom: 40px;
    margin-right: 20px;
    position: relative;
}

.attraction__img-wrapper {
    width: 320px;
    height: 320px;
    overflow: hidden;
    position: absolute;
}
.attraction__img {
}

.attraction__title {
    position: absolute;
    padding: 0 8px;
    
    margin-top: 0;
    background-color: black;
    width: 100%;
    opacity: 0.5;
}
.attraction__title a {
    width: 100%;
    color: white;
    text-decoration: none;    
}

.attraction__presentation {
    position: absolute;
    top: 320px;
}


.activities__header {
    border-bottom: 1px solid #03a9f4;
    height: 120px;
    margin-bottom: 20px;
}
.activities__title {
    font-size: 150%;
}


img.activities__img {
    float: right;
    padding: 0 20px;
}



.accommodations-wrapper {
 
}

.accommodations {
    text-align: center;
}
.accommodation {
    width: 320px;
    height: 480px;
    overflow: hidden;
/*    float: left;*/
    display: inline-block;
    margin-bottom: 40px;
    margin-right: 20px;
    text-align: left;
    position: relative;
}

.accommodation__img {
    position: absolute;
}

.accommodation__title {
    position: absolute;
    padding: 0 8px;
    
    margin-top: 0;
    background-color: black;
    width: 100%;
    opacity: 0.5;
    color: white
}

.accommodation__title a {
    width: 100%;
    color: white;
    text-decoration: none;    
}

.accommodation__presentation {
    position: absolute;
    top: 320px;
}

/* Trips */

.trips {
text-align: center;
}
.trip {
    width: 320px;
    height: 480px;
    overflow: hidden;
/*    float: left;*/
    display: inline-block;
    text-align: left;
    margin-bottom: 40px;
    margin-right: 20px;
    position: relative;
}

.trip__img {
    position: absolute;
}

.trip__title {
    position: absolute;
    padding: 0 8px;
    
    margin-top: 0;
    background-color: black;
    width: 100%;
    opacity: 0.5;
    color: white
}

.trip__title a {
    width: 100%;
    color: white;
    text-decoration: none;    
}

.trip__presentation {
    position: absolute;
    top: 320px;
}


/* Parts */


.part {
    height: 180px
    margin-bottom: 20px;
}

.part table td {
   vertical-align:top;
   padding: 0.5em;
}

.part__img {
   
}

.part__title {
    font-size: 18px;
}

.part__title a {
    width: 100%;
    color: black;
    text-decoration: none;    
}
.part__presentation {
   font-size: 14px;
}



input[type=text] {


}


.search-box {
    position: relative;
}

.search-text {
    border: 1px solid #ccc; /*#03a9f4*/
    padding: 10px;
    margin-bottom: 2em;
    border-radius: 5px;
}


.search-icon {
    position: absolute;
    top: 5px;
    right: 20px;
}

.calendar__card {
    height: 200px;
    overflow: auto;
}

.calendar__card-activity-wrapper {
    height: 300px;
    overflow: hidden;
}

/* -------------------------*/

.calendar__card-activity-wrapper {
    width: 320px; /*320px*/
    height: 160px;
    overflow: hidden;
/*    float: left;
    display: inline-block; */
    text-align: left;
    position: relative;
    border: 3px solid white;

  
}

.calendar__season-img-wrapper {
    width: 100%;
    height: 160px;
    overflow: hidden;
    position: absolute;
}
.calendar__season-img {
}

.calendar__season-title {
    position: absolute;
    padding: 0;
    margin-top: 0;
    background-color: black;
    width: 100%;
    opacity: 0.5;
}
.calendar__season-title a {
    width: 100%;
    color: white;
    text-decoration: none;    
}

.calendar__season-presentation {
    position: absolute;
    padding: 0 8px;
    bottom: 0px;
    background-color: gray;
    width: 100%;
    opacity: 0.5;
}

/* ------------------------ */

.infopage__title {
    
}
.infopage__submenu {
    text-align: left;
    padding: 1em 1em;
    text-transform: none;
    color: gray;
}

.quickrefpage__button {
    text-align: left;
    padding: 1em 1em;
    margin-bottom: 0.5em;
    text-transform: none;
    color: gray;
}



/* @media only screen and (min-width : 900px) {
    md-card {
        width: 48%;
        float: left;
    }
}
*/
